<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VM instances</title>
    <link rel="icon" type="image/x-icon" href="https://storage.googleapis.com/public-gra/images/favicon.ico" />
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js" integrity="sha512-tWHlutFnuG0C6nQRlpvrEhE4QpkG1nn2MOUMWmUeRePl4e3Aki0VB6W1v3oLjFtd0hVOtRQ9PHpSfN6u6/QXkQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    //https://www.freecodecamp.org/news/javascript-post-request-how-to-send-an-http-post-request-in-js/
    function  com_vm(url){
        console.log(url);
        $("#rez_code_com").text('???');
        $.post(url, {}, status => {
          console.log(status);
          $("#rez_code_com").text(status);
        });
    }
</script>
<body>
<h2>VM instances -> projects: {{projects}}  codes: {{ codes }}  comand: <a id='rez_code_com'>???</a> </h2>
{{data|safe}}
<pre>

</pre>
</body>
</html>
