<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VM instances</title>
    <link rel="icon" type="image/ico" href="img/favicon.ico">
</head>
<body onload="brython()">
<!--<body>-->
<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js" integrity="sha512-tWHlutFnuG0C6nQRlpvrEhE4QpkG1nn2MOUMWmUeRePl4e3Aki0VB6W1v3oLjFtd0hVOtRQ9PHpSfN6u6/QXkQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    //https://www.freecodecamp.org/news/javascript-post-request-how-to-send-an-http-post-request-in-js/
    function  list_vm(){
        $.post("https://comps-hyx2izic7a-uc.a.run.app/list?vm=query&com=start&project=vpn-gra&zone=us-central1-a", {}, status => {
          console.log(status);
         // console.log(status);
        });
      //  alert('!!! ok')
    }
</script>
<button onclick="list_vm()">Click me</button>
-->


<script src="https://cdn.jsdelivr.net/npm/brython@3.12/brython.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/brython@3.12/brython_stdlib.js"></script>
<script>
    pyTest = "import browser;browser.console.log('Hello Brython!!!');"
    eval(__BRYTHON__.python_to_js(pyTest));
</script>

<script type="text/python">
    from browser import document, alert
    import sys
    sys.path.append(sys.path[0].replace('/templates',''))
    sys.path = "{{sys_path_python}}".split(',') + sys.path
    print(sys.path)

    def by_python(event):
        from run_command import run_command
        com = 'start'
        vm = 'query'
        project = 'vpn-gra'
        zone = 'us-central1-a'
        resp_command = run_command(com, project, token, vm, zone)

    document["by_python"].bind("click", by_python)
</script>

<!--
<script type="text/python">
    #https://brython.info/demo.html?lang=en#
    #https://stackoverflow.com/questions/26021672/how-to-use-ajax-in-brython
    from browser import document, alert,ajax, doc

    def on_complete(req):
        if req.status == 200 or req.status == 0:
            document["result"].html = 'OK '+req.text
        else:
            document["result"].html = "error " + req.text

    def by_python(event):
        url = "https://comps-hyx2izic7a-uc.a.run.app/list?vm=query&com=start&project=vpn-gra&zone=us-central1-a"
        req = ajax.ajax()
        req.bind('complete', on_complete)
        req.open('POST',url,True)
        req.set_header('content-type','application/x-www-form-urlencoded')
        req.send()
        alert('!!! ok')

    document["by_python_1"].bind("click", by_python)
    document["by_python_2"].bind("click", by_python)
</script>
-->
<button id="by_python">Click 1!!</button>
<!--<button id="by_python_1.start">Click 1</button>-->
<!--<button id="by_python_2.stop">Click 2</button>-->
<div id="result"> </div>
<div id="result_com"> </div>

<h2>VM instances ({{project}})   {{ code }}   command: {{resp_command}}</h2>
{{data|safe}}
<pre>

</pre>
</body>
</html>
